body
{
	color:#333333;
	font-family: "ヒラギノ角ゴporN","Hargino Kaku Gothic porN","メイリオ","meiryo", "sens-serif";
	margin:10px;
    background: #FFCC99;
}
/*link*/
a
{
	color :#999996;
}
a:hover
{
	color:#996600;
}
.topicPath{
	font-size:12px;
}

.pageTop {
	clear:both;
	font-size:12px;
	text-align:right;
	margin-top:30px;
}
#page
{
	width:980px;
	margin:0 auto;
}
#siteTitle
{
		font-size:30px;
		margin-bottom:0px;
}
#catchcopy
{
		font-size:12px;
		margin-top:5px;
}
#pageHead .globalNavi{
	 border:solid 1px #CCCCCC;
	 border-width:1px 0;
	 padding:10px 0;
}

#pageHead .globalNavi ul{
	 margin:0;
	 padding:0;
}

#pageHead .globalNavi ul:after{
	content:"";
	clear:both;
	display:block;
}

#pageHead .globalNavi li{
	
	list-style-type:none;
	width:245px;
	float:left;
	border-left:solid 1px #CCCCCC;
	padding:0 10px;
	box-sizing:border-box;
	text-align:center;
	font-size:14px;
}
#pageHead .globalNavi li:first-child {
	
	border-left:none;
}
#pageHead .globalNavi li a{
	
	color:inherit;
	text-decoration:none;
	display:block;
	padding:5px 0;
}
#pageHead .globalNavi li a:hover{
	background-color:#F2F2E5;
}
	
#pageHead .globalNavi .current{
	border:dotted 2px #F2F2E5;
}
#copyright small
{
	font-size:12px;
}

#pageBody
{
	margin-top:30px;
}

#pageBody after
{
	content:"";
	display:block;
	clear:both;
}
#pageHead
{
	
}
#pagefoot
{
		border-top:solid 1px #CCCCCC;
		margin-top:15px;
		clear:both;
}
#pageBodyMain
{
	width:720px;
	float:left;
	/*background-color:#66CCFF;*/
}
#pageBodySub 
{
	width:220px;
	float:right;
	/*background-color:99FF66;*/
}

#pageBodyMain .articleList{
	border : solid 1px #CCCCCC;
	margin-bottom:30px;
}
#pageBodyMain .articleList a{
	display:block;
	padding:10px;
	color:inherit;
	text-decoration:none;
}
#pageBodyMain .articleList a .articleListText{
	width:379px;
	float:right;
}

#pageBodyMain .articleList a .articleListImg{
	width:300px;
	float:left;
}

#pageBodyMain .articleList a:after{
	content:"";
	clear:both;
	display:block;
}
#pageBodyMain .articleList a .articleListText h1{
	font-size:26px;
}
#pageBodyMain .articleList a .articleListText p{
	font-size:14px;
}
#pageBodyMain .articleList a .articleListImg img{
	vertical-align:bottom;
}

#pageBodyMain .articleList a:hover{
	opacity:0.7;
}
#pageBody .mainVisual {
	position:relative；
}
#pageBody .mainVisual .mainVisualText{
	position: absolute;
	left: 200px;
	bottom: 0px;
	color : #FFFFFF;
	background-color: rgba(0,0,0,0.4);
	width : 400px;
	padding: 15px 25px;
	box-sizing:border-box;
}
#pageBody .mainVisual .mainVisualText h1{
	
	font-size:26px;
	margin:0;
}


#pageBody .mainVisual .mainVisualText p{
	
	font-size:12px;
	margin:0;
}
#pageBody .mainVisual img{
	vertical-align: bottom;
}
#pageBody .portfolioIndex{
	margin-top:40px;
}
}
#pageBody .portfolioIndex:after{
	content:"";
	clear:both;
	display:block;
}
#pageBody .portfolioIndex article{
	width:300px;
	float:left;
	margin:
}
#pageBody .portfolioIndex article:not(:first-child){
	margin-left:40px;
}
#pageBody .portfolioIndex article h1{
	font-size:18px;
}

#pageBody .portfolioIndex article p{
	font-size:12px;
}
#pageBody .news table{
	text-align:left;
	width:100%;
}
#pageBody .news table tr th,
#pageBody .news table tr th{
	font-size:14px;
	border-bottom:1px dotted #CCCCCC;
	padding:10px 0;
	vertical-align:top;
}
#pageBody .news table tr th{
	white-space:nowrap;
	padding-right:30px;
}
#pageBodySub h2
{
	font-size:16px;
	padding:5px;
	margin-top:0px;
	border-bottom:1px solid #CCCCCC; 
}

#pageBodySub .newlist ul
{
		padding:0px;
}
#pageBodySub .newlist li
{
		list-style-type:none;
		font-size:12px;
}
#pageBodySub .newlist ul li
{
	font-weight:bold;
	dispaly:block;
	margin: 10px 5px;
}

#pageBodySub .localNavi ul 
{
	margin: 18px;
	padding-left:18px;
}

#pageBodySub .localNavi li
{
	font-size:12px;
	list-style-image:url(../image/ico_arrow.png);
	margin-bottom: 12px;
}

p 
{
	font-size:14px;
}

ul li 
{
	font-size:14px;
	list-style-type:square;
}

table
{
		font-size:14px;
		border:1px solid #CCCCCC;
		border-collapse:collapse;
		width:100%;
}

table th ,table td
{
	border:1px solid #CCCCCC;
	padding:5px 10px;
}
table th
{
		background-color:#EEEEEE;
		text-align:left;
}
tabel caption
{
	text-align:left;
	font-weight:bold;
}
figure
{
		margin:0px;
		
}
.pagetitle
{
	font-size:26px;
	background-color:#F2F2E5;
	padding:5px 15px;
	margin-top:0px;
	
}
.heading-typeA
{
	font-size:18px;
	color:#349FA6;
	border-bottom:solid 1px #349FA6;
	padding:5px;
}
.heading-typeB
{
	font-size:16px;
	 border-left:solid 5px #E3E4D9;
	padding-left :10px; 
	/*color:yellow;*/
}
.heading-typeC
{
	font-size:14px
}
/* */
.articleDetailHead
{
	border-bottom:solid 1px #CCCCCC;
	margin-bottom:30px;
	padding-bottom:15px;
}
.articleDetailFoot
{
	border-top:solid 1px #CCCCCC;
	margin-top:30px;
	padding-top:15px;
}
.articleDetailBody Section
{
		margin: 30px 0;
}
p.pagetop
{
	font-size:16px;
}
.creditUnit
{
		padding:10px;
		border:solid 1px #CCCCCC;
}
.creditUnit p
{
	font-size:12px;
}